/* DEAFULT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-image: url('https://imgs.search.brave.com/Ax_ogLLgRAm6vvpofrjolJKJPUVn55eESgVr80rQNQ0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9wbHVz/cG5nLmNvbS9pbWct/cG5nL3Jlc3RhdXJh/bnQtcG5nLWhkLS0x/OTIwLnBuZw');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.post {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR STYLING */
.navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #333;
  color: #fff;
}

.nav-links a {
  display: block;
  padding: 15px;
  color: #fff;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li {
  float: left;
  padding: 5px 14px;
}

.menu li:hover {
  background-color: #1b1b1b;
  border-radius: 5px;
  transition: 0.3s ease;
}

/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0; 
}

article {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

article p {
  padding: 0 20px;
  line-height: 1.5; /* Adjust line height for better readability */
  color: #555; 
}

section {
  padding: 20px;
  border-bottom: 1px solid #747272; /* Added border bottom to separate sections */
}

section:last-child {
  border-bottom: none; /* Remove border bottom from the last section */
}

article h1,
article h2 {
  padding: 20px;
}

.post h1 {
  text-align: center;
  font-size: 50px;
  background-color: #333;
  color: whitesmoke;
}

article h3 {
  display: inline-block;
  background-color: #333; /* Background color for h3 */
  color: #fff; /* Text color for h3 */
  padding: 10px; /* Padding for h3 */
  border-radius: 5px; /* Border radius for h3 */
  text-align: center;
}
