/* DEFAULT STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-image: url('https://images5.alphacoders.com/480/480609.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

a {
  text-decoration: none !important;
  color:white !important;
}

li {
  list-style: none;
}
/* LAYOUT CONTAINERS */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

/* POST STYLES */
.post {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;

  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.post h1 {
  text-align: center;
  padding: 10px;
  font-size: 50px;
  background-color: #333;
  color: whitesmoke;
}

/* ARTICLE STYLES */
article {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

article p {
  padding: 0 20px;
  line-height: 1.5;
  text-align: left;
  color: #555; 
}

article h1,
article h2 {
  padding: 20px;
  font-family: 'Playfair Display', serif;
}

article h3 {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.article-credit, .article-date {
  font-size: 12px;
  text-align: center;
}

.article-doc {
  padding-bottom: 20px;
}

/*RESTRAUNT STYLES*/
.restaurant {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.restaurant .restaurant-img{
  width: 200px;
  height: 200px;
  margin-right: 20px; 
}

.full-text {
  display: none;
}

.read-more-btn {
  color: black;
  border: none;
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
}


/* SECTION STYLES */
section {
  padding: 20px;
  border-bottom: 1px solid #747272;
}

section:last-child {
  border-bottom: none;
}

/* GALLERY STYLES */
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  padding-bottom: 50px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  border: 10px solid red;
}

.gallery-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* BUTTON STYLES */
.pressable-button {
  display: inline-block;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.8);
  color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}
.pressable-button:hover {
  background-color: whitesmoke;
}

/* SECTION HOME */
#section2-home {
  min-height: 500px;
  border-bottom: none;
  padding: 150px;
}

#section1-home {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
}

#section1-home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#section1-home .container {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

#section1-home p {
  font-size: 25px;
  margin-bottom: 20px;
}

.highlight{
  color: red; 
  text-decoration: none;
  text-shadow: 
  -1px -1px 0 black,  
  1px -1px 0 black,
  -1px 1px 0 black,
  1px 1px 0 black;
}
.highlight:hover{
  color: rgba(255, 0, 0, 0.5);
}

/* NAVBAR STYLES */
.navbar, .navbar .dropdown-menu {
  background-color: #333;
}

.navbar .dropdown-menu a:hover {
  background-color: rgba(224, 224, 224, 0.1);
}

/* FOOTER STYLES */
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
}

/* UI COLOR */
footer, .navbar, .navbar .dropdown-menu {
  background-color: #333;
}

.navbar .dropdown-menu a:hover {
  background-color: rgb(224, 224, 224, 0.1);
}

/* HOME */
#section3-home {
  padding: 50px 0;
  text-align: center;
  padding-bottom: 100px;
}

#section3-home .container {
  max-width: 800px;
  margin: 0 auto;
}

#section3-home h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

#section3-home p {
  font-size: 18px;
  margin-bottom: 20px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-form input[type="email"] {
  padding: 10px;
  width: 300px;
  border: 1px solid red;
  border-radius: 5px;
  margin-right: 10px;
}

.newsletter-form button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#section3-home .post {
  background-color: rgba(255, 255, 255, 0.737); /* Post background color */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*SECTION-4*/
#section4-home {
  padding-bottom: 100px;
}

#section4-home .container {
  position: relative;
  color: white;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

#section4-home .preview-content {
  display: flex;
  align-items: center;
}

#section4-home .text {
  flex: 1;
  padding-right: 20px;
  margin: 40px;
}

#section4-home .text h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#section4-home .text p {
  font-size: 40px;
}

#section4-home .image img {
  width: 100%;
  border-radius: 5px;
  border: 10px solid red;
  max-width:800px;
}

#section4-home .image img:hover {
  border: 10px solid rgb(255, 77, 0);
}
